@page "/fetchdata"
@using static SyncfusionBlazorApp.Pages.Index
@using Newtonsoft.Json

<PageTitle>医保登记与结算列表</PageTitle>

<h1>医保登记与结算列表</h1>

@*<p>This component demonstrates fetching data from the server.</p>*@

@if (showDataArray == null)
{
    <p><em>数据加载中...</em></p>
}
else
{
    <SfGrid AllowFiltering="false" AllowSorting="true" DataSource="@showDataArray">
        <GridColumns>
            <GridColumn Field=@nameof(SettleOrRegisterDTO.NAME_PAT) HeaderText="姓名"></GridColumn>
            <GridColumn Field=@nameof(SettleOrRegisterDTO.CODE_AMR_IP) HeaderText="住院号"></GridColumn>
            <GridColumn Field=@nameof(SettleOrRegisterDTO.DEP_NAME) HeaderText="科室"></GridColumn>
            <GridColumn Field=@nameof(SettleOrRegisterDTO.REMARK) HeaderText="登记或结算"></GridColumn>
            <GridColumn Field=@nameof(SettleOrRegisterDTO.METHOD) HeaderText="窗口或床旁"></GridColumn>
            <GridColumn Field=@nameof(SettleOrRegisterDTO.OPERATE_TIME) HeaderText="日期"></GridColumn>
        </GridColumns>
    </SfGrid>
}

@code {
    private SyncfusionBlazorApp.Pages.Index.SettleOrRegisterDTO[]? showDataArray;
    public static List<SettleOrRegisterDTO> listRtn = new List<SettleOrRegisterDTO>();

    protected override Task OnInitializedAsync()
    {
        Task.Run(async () =>
           {
               String jsonStr = await _httpClient.GetFromJsonAsync<String>("/dashboard/detail_data");
               listRtn  = JsonConvert.DeserializeObject<List<SettleOrRegisterDTO>>(jsonStr);
               showDataArray = listRtn.ToArray();                     
               await InvokeAsync(StateHasChanged);         
           });
           return base.OnInitializedAsync();
    }

}
